.product {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 22px 20px 25px 20px;
	min-height: 706px;
	height: 100%;
	background-image: var(--liner-gradient-green);
	border-radius: var(--border-radius-product);
	box-shadow: var(--shadow);
	transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
	@include hover {
			transform: scale(1.01);
    	box-shadow: 5px 5px 8px rgba(0, 111, 57, 0.4);
			.product {
				&__img {
					border-radius: 0 70px;
				}
			}
	}
		// &:hover(:hover) {
		// 	transform: scale(1.01);
    // 	box-shadow: 5px 5px 8px rgba(0, 111, 57, 0.4);
		// }

		@include mobile {
			padding: 17px 20px 30px 20px;
			border-radius: var(--border-radius-product);
		}

		&--flat {
			min-height: fit-content;
			padding: 25px 70px 40px 70px;

			@include mobile {
				padding: 17px 20px 30px 20px;
			}

			.product {
				&__wrapper {
					flex-direction: row;
					gap: 60px;
					@include mobile {
						flex-direction: column;
					}
				}

				&__body {
					flex-direction: column;
					justify-content: normal;
					gap: 30px;
					margin: 0;
					width: 50%;
					@include mobile {
						width: 100%;
					}
				
				}

				&__img {
					// @include square(100%);
					width: 100%;
					height: 259px;
					object-fit: cover;
					border-radius: var(--border-radius-big-card);
					@include mobile {
						width: auto;
						height: auto;
						border-radius: var(--border-radius-card-image);
					}
				}

				&__img-name {
					font-size: 24px;
					@include mobile {
						font-size: clamp(16px, 1.25vw, 16px);
					}
				}

				&__description {
					padding: 25px;
					width: 50%;
					background-color: var(--color-light);
					border-radius: var(--border-radius-big-card-text);
					@include mobile {
						width: 100%;
						background-color: unset;
						padding: 0;
					}
				}

				&__text {
					margin-bottom: 35px;
					font-size: 18px;
					line-height: 140%;
				}

				&__footer {
					padding: 0;
					@include mobile {
						padding: 20px;
					}
				}

				&__care {
					gap: 40px;
				}

				&__care-condition {
					font-size: 18px;
					@include mobile {
						font-size: clamp(12px, 1.09375vw, 14px);
					}
				}

				&__care-value {
					font-size: 16px;
					@include mobile {
						font-size: clamp(10px, 0.9375vw, 12px);
					}
				}

				&__price {
					gap: 30px;
				}
			}
		}

		&__title {
			margin-bottom: 35px;
			@include mobile {
				margin-bottom: 21px;
			}
			@include fluid-text(40, 25);
			font-weight: 700;
			line-height: 130%;
			color: var(--color-accent);
		}

		&__wrapper {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		&__body {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 10px;
			margin-bottom: 25px;
			@include mobile {
				flex-direction: column;
				margin-bottom: 15px;
			}
		}
		&__img {
			border-radius: var(--border-radius-card-image);
			transition: border-radius 0.4s ease-in-out;
		}

		&__img-name {
			@include fluid-text(16, 16);
			font-style: italic;
      font-weight: 700;
      line-height: 125%;
      color: var(--color-accent);
		}

		&__description {
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: space-between;
		}

		&__text {
			margin-bottom: 25px;
			font-weight: 400;
			font-size: 14px;
			line-height: 130%;
			color: var(--color-accent);
		}

		&__footer {
			padding: 20px;
			background-color: var(--color-light);
			border-radius: var(--border-radius-small);
		}

		&__care {
			display: flex;
			justify-content: space-between;
			margin-bottom: 20px;
			gap: 20px;
		}

		&__care-group {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}

		&__care-condition {
			font-weight: 700;
			@include fluid-text(14, 12);
			line-height: 100%;
			color: var(--color-accent);
		}

		&__care-value {
			font-weight: 400;
			@include fluid-text(12, 10);
			line-height: 100%;
			color: var(--color-accent);
		}

		&__price {
			display: flex;
			justify-content: space-between;
			gap: 20px;
			@include mobile {
				gap: 41px;
			}
		}

		&__price-link {
			width: 50%;
			font-weight: 700;
			@include fluid-text(14, 12);
			line-height: 100%;
			color: #fff;
			padding: 14px;
			text-align: center;
			@include mobile {
				padding: 8px;
			}
			text-wrap: nowrap;
			background-color: var(--bg-color-product-price-link);
			border-radius: var(--border-radius-product-price-link);
			border: 1px solid transparent;
			transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
			@include hover {
				background-color: var(--color-light);
				color: var(--bg-color-product-price-link);
				border: 1px solid  var(--bg-color-product-price-link);;
			}
		}

		&__price-link--second {
			background-color: var(--color-light);
			color: var(--color-accent);
			border: 1px solid var(--color-accent);
			@include hover {
				background-color:var(--color-accent);
				color:var(--color-light)
			}
		}
}