@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat-regular.woff2") format("woff2"), url("../../fonts/montserrat-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat-italic.woff2") format("woff2"), url("../../fonts/montserrat-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/montserrat-bold.woff2") format("woff2"), url("../../fonts/montserrat-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-accent: #475009;
  --color-light: #FFFFFF;
  --bg-color-product-price-link: #502198;
  --color-shadow:rgba(0, 111, 57, 0.4);
  --border-radius-product: 30px;
  --border-radius-small: 20px;
  --border-radius-card-image: 0 130px;
  --border-radius-big-card: 0 170px;
  --border-radius-big-card-text: 50px 0;
  --border-radius-product-price-link: 30px;
  --shadow: 5px 5px 8px 0 var(--color-shadow);
  --liner-gradient-green: linear-gradient(90deg, #c1dfc4 0%, #deecdd 100%);
  --font-family-base: "Montserrat", sans-serif;
  --font-weight-bold:700;
  --container-width: 1240px;
  --container-padding-x: 20px;
  --container-padding-y: 70px;
  --section-padding-y: 60px;
  --transition-duration: 0.2s;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 50px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 20px;
    --container-padding-y: 20px;
    --border-radius-product: 20px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding: var(--container-padding-y) var(--container-padding-x);
}
@media (max-width: 767px) {
  .container {
    padding: var(--container-padding-y);
  }
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: clamp(10px, 3.90625vw, 50px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(43px, 4.6875vw, 60px);
}

h2, .h2 {
  font-size: clamp(36px, 3.125vw, 40px);
}

h3, .h3 {
  font-size: clamp(26px, 2.34375vw, 30px);
}

h4, .h4 {
  font-size: clamp(18px, 1.5625vw, 20px);
}

.page-content__title {
  color: #475009;
  font-size: clamp(20px, 3.90625vw, 50px);
  line-height: 120%;
  font-weight: var(--font-weight-bold);
  text-align: center;
  margin: 0 0 30px;
}
@media (max-width: 767px) {
  .page-content__title {
    margin-bottom: 15px;
  }
}
.page-content__text {
  color: #475009;
  font-size: clamp(16px, 2.34375vw, 30px);
  line-height: 120%;
  margin: 0 0 50px;
  text-align: center;
}
@media (max-width: 767px) {
  .page-content__text {
    margin-bottom: 25px;
  }
}

.grid {
  --gridColumns: 1;
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  row-gap: 70px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.grid--flat {
  gap: 70px;
}
@media (max-width: 767px) {
  .grid {
    row-gap: 30px;
  }
}
.grid--2 {
  --gridColumns: 2;
}
.grid--3 {
  --gridColumns: 3;
}
.grid--4 {
  --gridColumns: 4;
}
.grid--5 {
  --gridColumns: 5;
}
.grid--6 {
  --gridColumns: 6;
}
.grid--7 {
  --gridColumns: 7;
}
.grid--8 {
  --gridColumns: 8;
}
.grid--9 {
  --gridColumns: 9;
}
.grid--10 {
  --gridColumns: 10;
}
.grid--11 {
  --gridColumns: 11;
}
.grid--12 {
  --gridColumns: 12;
}
@media (max-width: 1023px) {
  .grid--2 {
    --gridColumns: 1;
  }
}
@media (max-width: 1280px) {
  .grid--3 {
    --gridColumns: 2;
  }
}
@media (max-width: 767px) {
  .grid--3 {
    --gridColumns: 1;
  }
}

.cards-section {
  padding-bottom: var(--section-padding-y);
}
@media (max-width: 767px) {
  .cards-section {
    padding-bottom: var(--section-padding-y);
  }
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 22px 20px 25px 20px;
  min-height: 706px;
  height: 100%;
  background-image: var(--liner-gradient-green);
  border-radius: var(--border-radius-product);
  box-shadow: var(--shadow);
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
@media (hover: hover) {
  .product:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 8px rgba(0, 111, 57, 0.4);
  }
  .product:hover .product__img {
    border-radius: 0 70px;
  }
}
@media (hover: none) {
  .product:active {
    transform: scale(1.01);
    box-shadow: 5px 5px 8px rgba(0, 111, 57, 0.4);
  }
  .product:active .product__img {
    border-radius: 0 70px;
  }
}
@media (max-width: 767px) {
  .product {
    padding: 17px 20px 30px 20px;
    border-radius: var(--border-radius-product);
  }
}
.product--flat {
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding: 25px 70px 40px 70px;
}
@media (max-width: 767px) {
  .product--flat {
    padding: 17px 20px 30px 20px;
  }
}
.product--flat .product__wrapper {
  flex-direction: row;
  gap: 60px;
}
@media (max-width: 767px) {
  .product--flat .product__wrapper {
    flex-direction: column;
  }
}
.product--flat .product__body {
  flex-direction: column;
  justify-content: normal;
  gap: 30px;
  margin: 0;
  width: 50%;
}
@media (max-width: 767px) {
  .product--flat .product__body {
    width: 100%;
  }
}
.product--flat .product__img {
  width: 100%;
  height: 259px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: var(--border-radius-big-card);
}
@media (max-width: 767px) {
  .product--flat .product__img {
    width: auto;
    height: auto;
    border-radius: var(--border-radius-card-image);
  }
}
.product--flat .product__img-name {
  font-size: 24px;
}
@media (max-width: 767px) {
  .product--flat .product__img-name {
    font-size: clamp(16px, 1.25vw, 16px);
  }
}
.product--flat .product__description {
  padding: 25px;
  width: 50%;
  background-color: var(--color-light);
  border-radius: var(--border-radius-big-card-text);
}
@media (max-width: 767px) {
  .product--flat .product__description {
    width: 100%;
    background-color: unset;
    padding: 0;
  }
}
.product--flat .product__text {
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 140%;
}
.product--flat .product__footer {
  padding: 0;
}
@media (max-width: 767px) {
  .product--flat .product__footer {
    padding: 20px;
  }
}
.product--flat .product__care {
  gap: 40px;
}
.product--flat .product__care-condition {
  font-size: 18px;
}
@media (max-width: 767px) {
  .product--flat .product__care-condition {
    font-size: clamp(12px, 1.09375vw, 14px);
  }
}
.product--flat .product__care-value {
  font-size: 16px;
}
@media (max-width: 767px) {
  .product--flat .product__care-value {
    font-size: clamp(10px, 0.9375vw, 12px);
  }
}
.product--flat .product__price {
  gap: 30px;
}
.product__title {
  margin-bottom: 35px;
  font-size: clamp(25px, 3.125vw, 40px);
  font-weight: 700;
  line-height: 130%;
  color: var(--color-accent);
}
@media (max-width: 767px) {
  .product__title {
    margin-bottom: 21px;
  }
}
.product__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.product__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}
@media (max-width: 767px) {
  .product__body {
    flex-direction: column;
    margin-bottom: 15px;
  }
}
.product__img {
  border-radius: var(--border-radius-card-image);
  transition: border-radius 0.4s ease-in-out;
}
.product__img-name {
  font-size: clamp(16px, 1.25vw, 16px);
  font-style: italic;
  font-weight: 700;
  line-height: 125%;
  color: var(--color-accent);
}
.product__description {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.product__text {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--color-accent);
}
.product__footer {
  padding: 20px;
  background-color: var(--color-light);
  border-radius: var(--border-radius-small);
}
.product__care {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 20px;
}
.product__care-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product__care-condition {
  font-weight: 700;
  font-size: clamp(12px, 1.09375vw, 14px);
  line-height: 100%;
  color: var(--color-accent);
}
.product__care-value {
  font-weight: 400;
  font-size: clamp(10px, 0.9375vw, 12px);
  line-height: 100%;
  color: var(--color-accent);
}
.product__price {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 767px) {
  .product__price {
    gap: 41px;
  }
}
.product__price-link {
  width: 50%;
  font-weight: 700;
  font-size: clamp(12px, 1.09375vw, 14px);
  line-height: 100%;
  color: #fff;
  padding: 14px;
  text-align: center;
  text-wrap: nowrap;
  background-color: var(--bg-color-product-price-link);
  border-radius: var(--border-radius-product-price-link);
  border: 1px solid transparent;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .product__price-link {
    padding: 8px;
  }
}
@media (hover: hover) {
  .product__price-link:hover {
    background-color: var(--color-light);
    color: var(--bg-color-product-price-link);
    border: 1px solid var(--bg-color-product-price-link);
  }
}
@media (hover: none) {
  .product__price-link:active {
    background-color: var(--color-light);
    color: var(--bg-color-product-price-link);
    border: 1px solid var(--bg-color-product-price-link);
  }
}
.product__price-link--second {
  background-color: var(--color-light);
  color: var(--color-accent);
  border: 1px solid var(--color-accent);
}
@media (hover: hover) {
  .product__price-link--second:hover {
    background-color: var(--color-accent);
    color: var(--color-light);
  }
}
@media (hover: none) {
  .product__price-link--second:active {
    background-color: var(--color-accent);
    color: var(--color-light);
  }
}/*# sourceMappingURL=styles.css.map */